<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	 <title></title>

    <!-- Bootstrap -->
    <link href="/css/flatly.bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" type="text/css">

	 <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">	</script>

  </head>
  <body>
	  <div class="container">
		<%= erb :navbar %>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<br>
				<br>
				<br>
				<br>
				<div class="text-center">
         <img height="140" width="140" src="https://fpvracing.tv/assets/default-c9c017d4b67a57a384936c69ac16f6cd9698f4957da34f73fb8886c190b69e02.png"  class="img-rounded">
				<h2>Bubbler: <span><%= @user.realname%></span></h2>
            <h3>Username: <span><%= @user.username%></span></h3>
            <h3>Email: <span><%= @user.email%></span></h3>
            <h3>Phone number: <span><%= @user.phone%></span></h3>
            <h3>User Score: <span><%= @user.user_score%></span></h3>
				<br>
        </div>
				<div class="text-center"><a href="/post/new"><button align="center" type="button" class="btn btn-primary btn-lg">New Post</button></a></div>
				<br>
				<h2 align="center">Your Posts:</h3>
				<br>
				<% @user.posts.reverse[0..19].each do |post|%>
					<div class="panel panel-default">
						<div class="panel-body">
							<%=post.post_text %>
						</div>
						<div class="panel-footer" style="font-size:10px;">
							<strong>Posted in:</strong>
								<% post.bubbles.reverse.each do |bubble|%>
									<%=bubble.bubble_name + "  " %>
								<% end %> at <%=post.created_at%>
						</div>
					</div>
				<% end %>
         </div>
			<div class="col-md-1"></div>
	   </div>
  </body>
</html>
